<spacer size="16"></spacer>

<container>
  <row class="header">
    <columns>
      <spacer size="16"></spacer>      
      <h1 class="text-center" style="background: #161A22; padding: 1rem;">OneBit<span style="color: #5D7397;">Games</span></h4>
    </columns>
  </row>
  <row>
    <columns>
      <spacer size="32"></spacer>
      <p>Olá <strong><%= @resource.email %></strong>!</p>

      <h2 class="text-center">Esqueceu sua senha?</h1>
      
      <spacer size="16"></spacer>


      <div style="color: #5D7397;"><br/> <%= link_to 'Alterar minha senha', "#{message['redirect_url']}?reset_password_token=#{@token}" %></div>
    </columns>
  </row>

  <row class="footer">
    <columns>
      <p>Se você não pediu isso, por favor, ignore este e-mail.</p>
      <p>Sua senha não será alterada até que você acessar o link acima e criar um novo..</p>
    </columns>
  </row>
  <spacer size="16"></spacer>
</container>